<!–– form method=“POST” action=“/pitches/<%= @pitch.id %>” ––>
<!––   <input id="hidden" type="hidden" name="_method" value="PATCH">  ––>
#     Title: <input name=“title” type=’text’ value="<%= @pitch.title %>">
#     Industry: <input name=“industry” type=’text’ value=“<%= @pitch.industry %>">
#     Funding: <input name=“funding” type='float' value=“<%= @pitch.funding %>">
#     <input type="submit" id="Submit">
# </form>