<h1>Create a Pitch</h1>

<form method="POST" action="/pitches">
    Title: <input type="text" name="title">

    Industry: <input type="text" name="industry">

    Funding: <input type="float" name="funding">

    <input type="submit" id="Submit">
</form>